/* Espacio dela paginaparael nav */
.page-content{
    margin-top: 70px;
}

/* Clases del contenedor de la imagen */

.product-detail{
    display: flex;
    height: 100vh;
    flex-direction: row;
    margin: 0px 54px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}


.image-section {
    flex: 7; /* 70% */
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.info-section {
    flex: 3; /* 30% */
    background-color: #b0a9a9;
    padding: 20px;
    overflow-y: auto; 
}

.info-section h2 {
    color: black;
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.info-section p {
    margin-bottom: 8px;
    font-size: 1.5rem;
}


.price {
    font-size: 20px;
    font-weight: bold;
    color: #000000; 
}

/* Clases del contenido de la card */

.quantity-wrapper {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.quantity-wrapper input {
    width: 100px;
    padding: 5px;
    border: 3px solid #ccc;
    border-radius: 6px;
    text-align: center;
}

.btn-add {
    margin-top: 10px;
    border: 1px solid #000;
    background-color:aliceblue;
    border: none;
    color:black;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-add:hover {
    background: rgb(242,178,142);
}


/* Clases del contenido de las imagenes que cambian */

/* Imagen principal */
.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.4s ease;
    opacity: 1;
}

.main-image.fade {
    opacity: 0; /* efecto fade-out */
}

/* Miniaturas con scroll horizontal */
.thumbnail-gallery {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    overflow-x: auto; /* activa barra */
    padding-bottom: 10px;
}

.thumbnail-gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.3s, border 0.3s;
}

.thumbnail-gallery img.active-thumb {
    border: 2px solid #000000 
}

/* Después de los 600px */
@media (max-width: 600px) {
.product-detail { flex-direction: column; height: auto; margin: 10px; }
.image-section { flex: none; height: 250px; }
.image-section img { height: 100%; border-radius: 0; }
.info-section { flex: none; width: 100%; }
    /* Ajuste para las miniaturas */
.thumbnail-gallery img {  width: 100px; height: 100px; }
.page-content{ margin-top: 170px;}
}