.navbar{
    background-color: rgb(242,178,142);
}

.logoNav{
    width:60px;
    height: 60px;
    border-radius: 20%;
}

.TitleLogo{
    margin-left:2%;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.center-item {
    flex-grow: 1;       /* ocupa todo el espacio disponible */
    display: flex;
    justify-content: center;
}
