/* Fondo General */
body {
    background-image: url('../public/Principal/Fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
    background-color: #fffaf4; 
}

/* Estructura de la pagina */
html, body, #root {
  overflow-x: hidden;  /* elimina cualquier scroll horizontal global */
  margin: 0;
  padding: 0;
}

/* Estructura Layout */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* asegura que la pantalla siempre ocupe todo el alto */
}

/* Principal */
main {
  flex: 1; /* empuja el footer hacia abajo */
}

/* Navbar */
nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.4s ease-in-out;
}
