
/* Contenedor principal */
.container-form{
    margin: 0 auto;
    margin-bottom: 1%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

/* Contenedores de la informacion */
.rigth-container,
.left-container{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

/* Tamaño y direccion de los Nombres */
.name-information{
    display:flex ;
    flex-direction: row;
    gap: 10px;
}
.name-information input{
    width: 270px;
}

/* Tamaño reducido del Zip */
.zip-size input{
    width: 100px;
}

/* Esito caja comentarios */
.form-floating>label{
    margin-left: 7px;
}
/* Tamaño de imputs select */
.container-select select{
    width: 300px;
    margin: 5px 0px;
}

.container-table{
    margin-top: 5%;
    width: 100%;
}


/* MOBILE */
@media (max-width: 600px) { 
    .container-form{ flex-direction: column; align-items: center; justify-content: center;}
    .rigth-container,
        .left-container { align-items: center; width: 100%;}
    .name-information{flex-direction: column;  align-items: center;  margin-left: 1%;  align-self: flex-start; }
    .name-information input{width: 95%;}
    label.form-label { margin-left: 5%;  align-self: flex-start; } 
    .center-discount{display: flex; flex-direction: column; justify-content: center;}
}