/* Contenedor Principal */
.container-contact {
    margin: 0 auto;
    margin-top: 2%;
    max-width: 70vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: space-evenly; 
    gap: 2rem; 
}

/* Contenedor del Form */
.container-contact .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: left;
}

/* INPUT Y TEXTAREA */
/* En comun */
.container-form input,
.container-form textarea {
    width: 450px;
    margin: 0.9rem;
    box-shadow: 0 0 5px rgba(255, 87, 87, 0.4);
}

/* Solo textArea */
.container-form textarea{
    height: 120px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
}

.container-map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Contenido Informativo */
.container-map iframe{
    width:600px;
    height:450px;
    margin: 0 auto;
}

.container-map p{
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
}

/* Clases SVG */
.container-map svg {
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.container-map svg:hover {
    transform: scale(1.1);
    color: #cfa97e;
}

/* MEDIA */
@media(max-width:600px){
.container-contact{ flex-direction: column; }
.container-form input,
.container-form textarea{width: 250px;}
.container-form button{margin-bottom: 10%;}
.container-map{display: flex; flex-direction: column; justify-content: center;}
.container-map iframe{ width: 90%; height: 300px; justify-content: center; margin-bottom: 10%;}
}